<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397517112678-7865rsk3bj6di7i6pg3lh0dg1i9sd7mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397517112678-7865rsk3bj6di7i6pg3lh0dg1i9sd7mm</string>
	<key>API_KEY</key>
	<string>AIzaSyD9gu-7Ky-HNX4B0-Mc4UOropfQnc4UKgI</string>
	<key>GCM_SENDER_ID</key>
	<string>397517112678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiarun.MinimalAnimation-2</string>
	<key>PROJECT_ID</key>
	<string>workoutplan-ai-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutplan-ai-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397517112678:ios:f2f46ef4677cfec0f4b4a7</string>
</dict>
</plist>